/* Diseño para celulares */
.footer {
    float: none;
    position: fixed;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    bottom: 0;
    width: 100%;
    min-height: 1.875em;
}
.imagen-social{
    height: 1.875em;
    width: 1.875em;
    border-radius: 2%;
    margin-left: 0.625em;
}
h3{
    font-size: 1.25em;
}

/* Diseño para tabletas */ 
@media screen and (min-width: 800px) {
    .footer {
        float: none;
        position: fixed;
        align-items: center;
        text-align: center;
        background-color: rgb(0, 0, 0);
        color: white;
        bottom: 0;
        width: 100%;
        min-height: 1.875em;
    }
    .imagen-social{
        height: 1.875em;
        width: 1.875em;
        border-radius: 2%;
        margin-left: 0.625em;
    }
    h3{
        font-size: 1.8em;
    }
}