<div class="footer">
    <h3>Encuéntrame:</h3>
    <a href="https://twitter.com/JuanNebraska" target="_blank">
        <img class="imagen-social" src="../../../assets/imagen/logo-twitter.png" alt="">
    </a>
    <!--
    <a href="https://twitter.com/JuanNebraska?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @JuanNebraska</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    -->
    <a href="https://www.linkedin.com/in/juan-david-moreno-cifuentes-2a165521a/" target="_blank">
        <img class="imagen-social" src="../../../assets/imagen/linkedin.png" alt="">
    </a>
    <h3>&copy; 2023 por Juan David Moreno</h3>
</div>
