<div class="blog">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">SPRING BOOT FRAMEWORK y SPRING BOOT</h3>
              <img src="../../../assets/imagen/spring-framework.png" class="card-img-top" alt="...">
              <p class="card-text">Es un framework Open Source que ayuda a crear aplicaciones en Java, Kotlin, Maven y Groovy.</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Mas información
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          
        </div>
      </div>
    <br>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">SPRING BOOT FRAMEWORK y SPRING BOOT</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>SPRING BOOT FRAMEWORK</h3>
        <p>
          Es un framework Open Source que ayuda a crear aplicaciones en Java, Kotlin, Maven y Groovy.
        </p>
        <br>
        <p>
          La inyección de dependencias, es uno de los pilares que tiene Spring Framework, aunque está dividido en diferentes módulos dando buenas funcionalidades contributivas:
        </p>
        <br>
        <ul>
          <li><span>Container:</span> suministra la inyección de dependencias e inversión de control.</li>
          <li><span>Web:</span> facilita la creación de controladores Web.</li>
          <li><span>Acceso a datos:</span> gestiona sobre JDBC, ORMs como Hibernate, sistemas OXM (Object XML Mappers), JSM y transacciones.</li>
          <li><span>Programación orientada a Aspectos (AOP):</span> da buen soporte para los aspectos.</li>
          <li><span>Instrumentación:</span> ofrece un buen soporte para la instrumentación de clases.</li>
          <li><span>Pruebas de código:</span> contiene un framework de testing, para JUnit y TestNG y lo que haga necesario para testear los mecanismos de Spring.</li>
        </ul>
        <br>
        <p>
          Los módulos son opcionales, no es necesario llenar el classpath con clases que no se van a utilizar. Solo usa lo que debe usar.
        </p>
        <br>
        <img class="imagen-modulos" src="../../../assets/imagen/modulos-framework.png" alt="">
        <p>
          La configuración inicial y preparación de las aplicaciones diseñadas por medio de Spring Framework para producción son algo complejas. Pero Spring Boot simplifica el proceso por medio de dos principales mecanismos, para darle mayor provecho.
        </p>
        <br>
        <h3>SPRING BOOT</h3>
        <p>
          Spring Boot permite compilar aplicaciones Web como un archivo .jar que se ejecuta normalmente como cualquier aplicativo.
        </p>
        <br>
        <p>
          Spring boot integra el servidor de aplicaciones en el propio .jar y despliega cuando se ejecuta la aplicación. Así se puede distribuir las aplicaciones de una forma más sencilla, configurando el servidor junto con la aplicación. Es bastante útil en arquitecturas de microservicios, ya que permite distribuir las aplicaciones como imágenes Docker que se puede escalar de manera horizontal.
        </p>
        <br>
        <p>
          Spring Boot ofrece una serie de dependencias, que se puede añadir a los proyectos, pero teniendo cuenta solo lo que se necesita: Se puede crear un controlador REST, acceder a una base de datos utilizando JDBC, conectar con una cola de mensajes Apache ActiveMQ, etc.
        </p>
        <br>
        <p>
          Cuando se añade un starter, éste ofrece todas las dependencias necesarias, tanto de Spring como de los terceros. Además, los starters ya están configurados con valores por defecto, que reduce la configuración cuando se va a trabajar. El spring-boot-starter-actuator es un buen ejemplo que ayuda a añadir dependencias para los proyectos.          
        </p>
        <p>
          Así como Spring Framework, se puede realizar cualquier configuración para modificar lo necesario posible.          
        </p>
        <br><br>        
        <h3>Referencias</h3>
        <p>
          Pahino, R. (2020). ¿Qué son Spring framework y Spring Boot? Tu primer programa Java 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
