<div class="blog">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">SPRING BOOT FRAMEWORK y SPRING BOOT</h3>
              <img src="assets/imagen/spring-framework.png" class="card-img-top" alt="...">
              <p class="card-text">Es un framework Open Source que ayuda a crear aplicaciones en Java, Kotlin, Maven y Groovy.</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Mas información
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">ANGULAR V15</h3>
              <img src="assets/imagen/angularv15.png" class="card-img-top" alt="..." style="width: 480px; height: 260px;">
              <p class="card-text">Lanzamiento de la nueva versión de Angular v15. ¿Que nos espera?</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Mas información
              </button>
            </div>
          </div>
        </div>
      </div>
    <br>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">SPRING BOOT FRAMEWORK y SPRING BOOT</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>SPRING BOOT FRAMEWORK</h3>
        <p>
          Es un framework Open Source que ayuda a crear aplicaciones en Java, Kotlin, Maven y Groovy.
        </p>
        <br>
        <p>
          La inyección de dependencias, es uno de los pilares que tiene Spring Framework, aunque está dividido en diferentes módulos dando buenas funcionalidades contributivas:
        </p>
        <br>
        <ul>
          <li><span>Container:</span> suministra la inyección de dependencias e inversión de control.</li>
          <li><span>Web:</span> facilita la creación de controladores Web.</li>
          <li><span>Acceso a datos:</span> gestiona sobre JDBC, ORMs como Hibernate, sistemas OXM (Object XML Mappers), JSM y transacciones.</li>
          <li><span>Programación orientada a Aspectos (AOP):</span> da buen soporte para los aspectos.</li>
          <li><span>Instrumentación:</span> ofrece un buen soporte para la instrumentación de clases.</li>
          <li><span>Pruebas de código:</span> contiene un framework de testing, para JUnit y TestNG y lo que haga necesario para testear los mecanismos de Spring.</li>
        </ul>
        <br>
        <p>
          Los módulos son opcionales, no es necesario llenar el classpath con clases que no se van a utilizar. Solo usa lo que debe usar.
        </p>
        <br>
        <img class="imagen-modulos" src="assets/imagen/modulos-framework.png" alt="">
        <p>
          La configuración inicial y preparación de las aplicaciones diseñadas por medio de Spring Framework para producción son algo complejas. Pero Spring Boot simplifica el proceso por medio de dos principales mecanismos, para darle mayor provecho.
        </p>
        <br>
        <h3>SPRING BOOT</h3>
        <p>
          Spring Boot permite compilar aplicaciones Web como un archivo .jar que se ejecuta normalmente como cualquier aplicativo.
        </p>
        <br>
        <p>
          Spring boot integra el servidor de aplicaciones en el propio .jar y despliega cuando se ejecuta la aplicación. Así se puede distribuir las aplicaciones de una forma más sencilla, configurando el servidor junto con la aplicación. Es bastante útil en arquitecturas de microservicios, ya que permite distribuir las aplicaciones como imágenes Docker que se puede escalar de manera horizontal.
        </p>
        <br>
        <p>
          Spring Boot ofrece una serie de dependencias, que se puede añadir a los proyectos, pero teniendo cuenta solo lo que se necesita: Se puede crear un controlador REST, acceder a una base de datos utilizando JDBC, conectar con una cola de mensajes Apache ActiveMQ, etc.
        </p>
        <br>
        <p>
          Cuando se añade un starter, éste ofrece todas las dependencias necesarias, tanto de Spring como de los terceros. Además, los starters ya están configurados con valores por defecto, que reduce la configuración cuando se va a trabajar. El spring-boot-starter-actuator es un buen ejemplo que ayuda a añadir dependencias para los proyectos.          
        </p>
        <p>
          Así como Spring Framework, se puede realizar cualquier configuración para modificar lo necesario posible.          
        </p>
        <br><br>        
        <h3>Referencias</h3>
        <p>
          Pahino, R. (2020). ¿Qué son Spring framework y Spring Boot? Tu primer programa Java 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">ANGULAR</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Angular v15</h3>
        <p>
          Se viene otra versión de Angular, hace 6 meses salió la versión 14 y se veía cosas que cada vez mas nutria a Angular, para seguir proporcionando a los programadores más mejoras en las funcionalidades que puedan ayudar en sus proyectos.
        </p>
        <br>
        <h3>¿Cómo puedo actualizar a la versión 15?</h3>
        <p>
          Con el comando ng update es la forma mas sencilla de hacerlo, pero como obviamente se necesita especificar la versión, entonces se hace por medio del siguiente comando:
        </p>
        <p>
          <span>ng update @angular/core@15 @angular/cli@15</span>
        </p>
        <p>
          Ahora a tener en cuenta que, si estás trabajando en una versión mas antigua en tus proyectos, deberás actualizarlo gradualmente hasta llegar a la versión 15, es decir, si estas trabajando en la versión 12, entonces debes pasar primero a la v13, luego a la v14, y por último a la v15. Para esto también sirve el anterior comando, solo que vas especificando la versión a la que vas actualizar y volverlo hacer hasta llegar a la actual versión 15.
        </p>
        <br>
        <h3>¿Qué nos espera Angular v15?</h3>
        <ol>
          <li><span>Aplicaciones sin módulos.</span></li>
          <br>
          <p>
            <span>Standalone Components:</span> en este trata de desarrollar aplicaciones sin necesidad de módulos. Angular tenía como uno de aquellos objetivos minimizar la dificultad de aprendizaje de este framework y los módulos tienen a dificultarse de entender al inicio. Ahora con esto se tiene una API más robusta para soportar la parte de los modulos. Esta característica mantiene las bases sólidas, arquitectura y buenas prácticas de Angular. Por ejemplo, con un solo archivo se podría correr una Angular App sin usar módulos, así:
          </p>
          <br>
          <img class="imagenes-angular" src="assets/imagen/angularv15_foto1.JPG" alt="">
          <br>
          <li><span>Lazy loading de componentes.</span></li>
          <br>
          <p>
            Con la nueva implementación de los <span>Standalone Components</span> se va a poder usar los Lazy loading directamente en componentes y no tienes que resolver la promesa de la importación dinámica, ya ahora se hace automáticamente. Por ejemplo:
          </p>
          <br>
          <img class="imagenes-angular" src="assets/imagen/angularv15_foto2.JPG" alt="">
          <br>
          <li><span>Mejoras en la carga de imágenes.</span></li>
          <br>
          <p>
            Se implementa una nueva directiva en Angular para mejorar la carga de las imágenes, la cual ayuda a reducir los tiempos de carga en un sitio web. Para usarla, se debe importar el módulo de <span>NgOptimizedImage</span>  en donde los quieres emplear y luego usa el attr <span>ngSrc</span> en tus imágenes, así:
          </p>
          <br>
          <img class="imagenes-angular" src="assets/imagen/angularv15_foto3.JPG" alt="">
          <br>
          <li><span>Guardianes de rutas como funciones.</span></li>
          <br>
          <p>
            Los guardianes son usados en Angular para permisos al usuario en la aplicación basadas en las rutas, y ahora podemos usar funciones para dar acceso o no al usuario. A si podemos usarlo:
          </p>
          <br>
          <img class="imagenes-angular" src="assets/imagen/angularv15_foto4.JPG" alt="">
          <br>
          <li><span>Mejoras en el formato de errores.</span></li>
          <br>
          <p>
            Un desarrollador siempre hace “debugging” para analizar los errores. Por ejemplo, si tenemos el siguiente código:
          </p>
          <br>
          <img class="imagenes-angular" src="assets/imagen/angularv15_foto5.JPG" alt="">
          <br>
          <p>
            Ahora en la versión 15 la información es más resumida y te indica dónde se produce el error de forma más precisa. Así se vería:
          </p>
          <br>
          <img class="imagenes-angular" src="assets/imagen/angularv15_foto6.JPG" alt="">
          <br>
          <li><span>Angular material alienado con Material Design 3.</span></li>
          <br>
          <p>
            La librería <span>Angular Material</span> es una buena herramienta para el diseño de tus proyectos, ahora el nuevo cambio surge de que Google está haciendo una actualización a su sistema de diseño, lo cual liberó herramientas para Android, Flutter y Web en donde es más fácil que se pueda implementar y seguir sus guías. Actualmente, el equipo de <span>Angular Material</span> estará usando más directamente estas herramientas de Material Design, para facilitar el mantenimiento y además implementar este sistema de diseño de forma más correcta. Si se quiere actualizar a Angular 15 y usar Angular Material se deberá aplicar un comando extra a esto, que sería así:
          </p>
          <p>
          <span>ng update @angular/core@15 @angular/cli@15</span>
          </p>
          <p>
          <span>ng generate @angular/material:mdc-migration</span>
          </p>
          <br>
          <li><span>Nueva utilidad en Angular CDK.</span></li>
          <br>
          <p>
            El Angular CDK es un conjunto de herramientas para comportamientos de UI, en donde se puede ahorrar muchas líneas de código haciendo comportamientos como un Drag and Drop, Modales, Overlays pero se realiza su propio estilo visual. Al usar <span>@angular/cdk/listbox</span>, obtienes todos los comportamientos esperados de una lista.
          </p>
          <br>
          <li><span>Construcciones más rápidas con ESBuild.</span></li>
          <br>
          <p>
            Mejoraron el soporte a ESBuild, y con esto se puede correr comandos como <span>ng build</span> que tardan menos tiempo y hasta se puedes hacer livereload con <span>ng build –watch.</span> Esto se puede habilitar cambiando en el archivo <span>angular.json</span> lo siguiente:
          </p>
          <p>
            <span>"builder": "@angular-devkit/build-angular:browser-esbuild"</span>
          </p>
          <br>
          <li><span>Menos archivos menos estrés.</span></li>
          <br>
          <p>
            Ahora con la nueva versión trae menos archivos. Esta sería la diferencia entre la v14 y la v15.
          </p>
          <br>
          <img class="imagenes-angular" src="assets/imagen/angularv15_foto7.JPG" alt="">
          <br>
          <p>
            Angular manejara las configuraciones por si mismas sin la interactuación del programador y algunos archivos desaparecen totalmente, aunque hay algunos que se pueden habilitar.
          </p>
          <br>
          <li><span>Herramienta de testing para e2e a tu elección.</span></li>
          <br>
          <p>
            Actualmente en la industria hay herramientas que están haciendo un gran trabajo para las pruebas, pero ahora Angular te da a elegir a tu elección la herramienta que prefieras usar al correr el comando <span>ng e2e.</span>
          </p>
          <br>
          <img class="imagenes-angular" src="assets/imagen/angularv15_foto8.JPG" alt="">
        </ol>
        <br><br>        
        <h3>Referencias</h3>
        <p>
          nicobytes (2022). 10 novedades en Angular v15 que no te puedes perder. Platzi.com
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
