/* Diseño para celulares */
.blog{
    float: none;
    margin-top: 5em;
    margin-left: 1.875em;
    margin-right: 1.875em;
}
.card{
    margin-bottom: 3em;
}
.card-img-top{
    width: 20.625em;
    height: auto;
}
h3{
    font-weight: bold;
}
.imagen-modulos{
    height: auto;
    width: 23.125em;
    border-radius: 2%;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}
p{
    text-align: justify;
    font-size: 1.25em;
}
li{
    text-align: justify;
    font-size: 1.25em;
}
.listamodulo{
    text-align: justify;
    font-size: 1.25em;
    font-weight: normal;
}
h1{
    font-weight: bold;
}
span{
    font-weight: bold;
}
.modal-body{
    margin-left: 0em;
    margin-right: 0em;
}
.imagenes-angular{
    height: auto;
    width: 24.625em;
    border-radius: 2%;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

/* Diseño para tabletas */
@media (min-width: 767.98px) {
    .blog{
        float: left;
        margin-top: 5em;
        margin-left: 1.875em;
        margin-right: 1.875em;
    }
    .card{
        max-width: 31.25em;
        margin-bottom: 3em;
    }
    .card-img-top{
        width: 24.375em;
        height: auto;
    }
    h3{
        font-weight: bold;
        font-size: 1.8em;
    }
    .imagen-modulos{
        height: auto;
        width: 37.5em;
        border-radius: 2%;
        margin-top: 1.25em;
        margin-left: 8.125em;
        margin-bottom: 1.25em;
    }
    p{
        text-align: justify;
        font-size: 1.8em;
        line-height: 1.2;
    }
    li{
        text-align: justify;
        font-size: 1.8em;
        line-height: 1.2;
    }
    .listamodulo{
        text-align: justify;
        font-size: 1.8em;
        line-height: 1.2;
        font-weight: bold;
    }
    h1{
        font-weight: bold;
        font-size: 2em;
    }
    span{
        font-weight: bold;
    }
    .modal-body{
        margin-left: 0em;
        margin-right: 0em;
    }
    .imagenes-angular{
        height: auto;
        width: 50.625em;
        border-radius: 2%;
        margin-top: 1.25em;
        margin-left: 5em;
        margin-bottom: 1.25em;
    }
    .btn{
        font-size: 1.8em;
    }
}
/* Diseño para PC */
@media (min-width: 991.98px) {
    .blog{
        display: block;
        margin-top: 80px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .blog1{
        display: inline-flex;
        margin-top: 50px;
    }
    .card{
        margin-right: 50px;
        max-width: 700px;
        margin-bottom: 150px;
    }
    .card-img-top{
        width: 480px;
        height: auto;
    }
    h3{
        font-weight: bold;
    }
    .imagen-modulos{
        height: auto;
        width: auto;
        border-radius: 2%;
        margin-left: 360px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p{
        text-align: justify;
    }
    h1{
        font-weight: bold;
    }
    span{
        font-weight: bold;
    }
    .modal-body{
        margin-left: 100px;
        margin-right: 100px;
    }
    .imagenes-angular{
        height: auto;
        width: 900px;
        border-radius: 2%;
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (min-width: 1199.98px) {
    .blog{
        display: block;
        margin-top: 80px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .blog1{
        display: inline-flex;
        margin-top: 50px;
    }
    .card{
        margin-right: 50px;
        max-width: 700px;
        margin-bottom: 150px;
    }
    .card-img-top{
        width: 480px;
        height: auto;
    }
    h3{
        font-weight: bold;
    }
    .imagen-modulos{
        height: auto;
        width: auto;
        border-radius: 2%;
        margin-left: 360px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p{
        text-align: justify;
    }
    h1{
        font-weight: bold;
    }
    span{
        font-weight: bold;
    }
    .modal-body{
        margin-left: 100px;
        margin-right: 100px;
    }
    .imagenes-angular{
        height: auto;
        width: 900px;
        border-radius: 2%;
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
