<div class="blog">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">ANGULAR MATERIAL</h3>
              <img src="assets/imagen/am_imagen7.PNG" class="card-img-top" alt="...">
              <p class="card-text">¿Como instalar Angular Material?</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Mas información
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">INTEGRACIÓN CONTINUA</h3>
              <img src="assets/imagen/ICPRINCIPAL.png" class="card-img-top" alt="...">
              <p class="card-text">¿Que es integración continua?</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Mas información
              </button>
            </div>
          </div>
        </div>
      </div>
    <br>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">ANGULAR MATERIAL</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Instalación de Angular Material</h3>
        <p>
          Para instalarlo en tu proyecto, se debe usar el siguiente comando:
        </p>
        <br>
        <p>
          <span>ng add @angular/material</span>
        </p>
        <br>
        <p>
          Dependiendo de la versión de Angular Material en el momento él estará instalando este paquete y te preguntará si desea instalarlo y ejecutarlo.
        </p>
        <br>
        <img class="imagen-modulos" src="assets/imagen/am_imagen1.PNG" alt="">
        <p>
          Luego te preguntará si desea algún tema en específico de los que Angular Material te lanza en especial para usar o si quieres personalizarlo. En este caso te presenta los siguientes temas.
        </p>
        <br>
        <img class="imagen-modulos" src="assets/imagen/am_imagen2.PNG" alt="">
        <p>
          El que hayas escogido se usará en tu proyecto.
        </p>
        <br>
        <img class="imagen-modulos" src="assets/imagen/am_imagen3.PNG" alt="">
        <p>
          Después se te preguntará si deseas setear o modificar a nivel global dentro de tu proyecto la tipografía. en esta si decides lo que tu deseas, si desea mejor algo personalizado por tu lado entonces responde no, de lo contrario estaríamos aceptando que Angular Material instale por defecto el que el tiene.
        </p>
        <br>
        <img class="imagen-modulos" src="assets/imagen/am_imagen4.PNG" alt="">
        <p>
          Luego debes de decidir si deseas aceptar que se modifique o Angular Material tenga en cuenta la modificación de las animaciones a su manera, en este caso si lo aceptas estaría habilitando ese paso, además el mismo Angular Material te modifica los módulos integrando o importando BrowserAnimationsModule.
        </p>
        <br>
        <img class="imagen-modulos" src="assets/imagen/am_imagen5.PNG" alt="">
        <p>
          Luego de todas esas preguntas ya se actualizará los paquetes que contengan Angular, para la continuación de la instalación de Angular Material y de lo que hayas permitido o no instalar.
        </p>
        <br>
        <img class="imagen-modulos" src="assets/imagen/am_imagen6.PNG" alt="">
        <br><br>
        <h3>Referencias</h3>
        <p>
          Angular Material (2023). Getting Started with Angular Material
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">INTEGRACIÓN CONTINUA</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Integración Continua</h3>
        <p>
          Es una de las buenas prácticas dentro de la ingeniería de software donde los desarrolladores mezclan los cambios en el código en un repositorio principal de forma periódica, donde se ejecutan versiones. La integración continua hace referencia a la fase de integración del proceso de publicación de software y un componente cultural. Los objetivos consisten en encontrar y arreglar errores, mejorar la calidad del software y reducir el tiempo para bla validación y publicación de las actualizaciones de software.
        </p>
        <br>
        <p>
          Los desarrolladores envían los cambios de forma periódica en un control de versiones como GIT, para subirlos o hacer push a un repositorio. La integración continua crea y ejecuta automáticamente pruebas para evaluar y verificar los nuevos cambios realizados en el código, con esto previenen cualquier error que contenga el código.
        </p>
        <br>
        <img class="imagenes-angular" src="assets/imagen/IC.png" alt="">
        <br>
        <h3>Ventajas</h3>
        <ol>
          <li class="listamodulo">Mejorar la productividad del equipo de desarrollo de software.</li>
          <li class="listamodulo">Encontrar y arreglar posibles errores que probablemente generen problemas gravísimos.</li>
          <li class="listamodulo">Actualizar con mayor frecuencia y mejor eficacia el producto al cliente.</li>
        </ol>
        <br><br>
        <h3>Referencias</h3>
        <p>
          AWS AMAZON (2023). ¿Qué es la integración continua?. aws.amazon.com
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
