/* Diseño para celulares */
.blog{
    float: none;
    margin-top: 5em;
    margin-left: 1.875em;
    margin-right: 1.875em;
}
.card{
    margin-bottom: 3em;
}
h3{
    font-weight: bold;
}
.imagen-modulos{
    height: auto;
    width: 23.125em;
    border-radius: 2%;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}
p{
    text-align: justify;
    font-size: 1.25em;
}
li{
    text-align: justify;
    font-size: 1.25em;
}
.listamodulo{
    text-align: justify;
    font-size: 1.25em;
    font-weight: bold;
}
h1{
    font-weight: bold;
}
span{
    font-weight: bold;
}
.modal-body{
    margin-left: 0em;
    margin-right: 0em;
}
.imagenes-angular{
    height: auto;
    width: 20.625em;
    border-radius: 2%;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}