  <div class="home">
    <div class="home1">
      <h1>PAGINA WEB</h1>
        <h3>DE</h3>
        <h1>JUAN MORENO</h1>
        <img src="../../../assets/imagen/mi-logo.JPG" alt="">
    </div>
    <div class="linea"></div>
    <div class="home2">
      <div class="home3">
        <h1>Hola, Soy Juan Moreno!</h1>
      </div>
      <div class="home4">
        <h2>Codificar es mi gran pasión</h2>
        <h2>Arquitecto de software es mi gran sueño a conseguir</h2>
        <h2>Pero ser servicio para las personas es a lo que vine a este mundo.</h2>
        <h2 class="frase">“El que no vive para servir, no sirve para vivir” - Madre Teresa de Calcuta</h2>
      </div>
    </div>
  </div>

 