  <div class="home">
    <div class="resumen">
      <div class="resumen-texto">
          <h1>Sobre mi</h1>
          <p>
              Hola, mi nombre es Juan David Moreno Cifuentes, soy de la ciudad de Manizales - Caldas. Pero actualmente vivo en Armenia - Quindío. Soy Ingeniero de Sistemas y Computación egresado de la Universidad del Quindío. Hoy en día trabajo como Ingeniero Junior de Desarrollador de Software en la empresa IKNO SAS procesando documentos a través de inteligencia artificial.  
          </p>
      </div>
      <div class="resumen-foto">
          <img class="imagen-foto" src="assets/imagen/foto-perfil.jpeg" alt="">
          <!--<img class="imagen-foto"src="" alt="">-->
      </div>
  </div>
  <div class="educacion">
      <h1>Educación</h1>
      <h3>Ingeniero de Sistemas y Computación - Universidad del Quindío (2016 - 2022)</h3>
  </div>
  <div class="experiencia">
      <h1>Experiencia</h1>
      <h3>IKNO S.A.S. - Ingeniero Junior de Desarrollador de Software (2022 - Actualidad)</h3>
  </div>
  <div class="proyectos">
      <h1>Proyectos</h1>
      <h3>Clinica de Odontología Alameda (2021)</h3>
      <p>
        Para ver mi repositorio de click en el siguiente logo: 
        <a href="https://github.com/JuanMorenoC" target="_blank">
          <img class="imagen-github" src="assets/imagen/github.png" alt="">
      </a>
      </p>
  </div>
  <div class="habilidades">
      <h1>Habilidades</h1>
      <div class="habilidades1">
          <div class="habilidades2">
              <div class="habilidades3">
                  <h3>HTML</h3>
              </div>
              <div class="habilidades4">
                  <img class="imagen-app" src="assets/imagen/html-logo.png" alt="">
              </div>
          </div>
          <br>
          <div class="habilidades2">
              <div class="habilidades5">
                  <h3>CSS3</h3>
              </div>
              <div class="habilidades6">
                  <img class="imagen-app" src="assets/imagen/CSS3.png" alt="">
              </div>
          </div>
          <br>
          <div class="habilidades2">
              <div class="habilidades7">
                  <h3>Java</h3>
              </div>
              <div class="habilidades8">
                  <img class="imagen-app" src="assets/imagen/java.png" alt="">
              </div>
          </div>
          <br>
          <div class="habilidades2">
              <div class="habilidades9">
                  <h3>Angular</h3>
              </div>
              <div class="habilidades10">
                  <img class="imagen-app" src="assets/imagen/angular-logo.png" alt="">
              </div>
          </div>
          <br>
          <div class="habilidades2">
              <div class="habilidades11">
                  <h3>Spring Boot</h3>
              </div>
              <div class="habilidades12">
                  <img class="imagen-app" src="assets/imagen/spring-boot.png" alt="">
              </div>
          </div>
      </div>
      <div class="habilidades1bajo">
          <div class="habilidades2">
              <div class="habilidades3">
                  <h3>Bootstrap</h3>
              </div>
              <div class="habilidades4">
                  <img class="imagen-app" src="assets/imagen/bootstrap-logo.jpg" alt="">
              </div>
          </div>
          <br>
          <div class="habilidades2">
              <div class="habilidades13">
                  <h3>GIT</h3>
              </div>
              <div class="habilidades14">
                  <img class="imagen-app" src="assets/imagen/git.png" alt="">
              </div>
          </div>
          <br>
          <div class="habilidades2">
              <div class="habilidades3">
                  <h3>Typescript</h3>
              </div>
              <div class="habilidades4">
                  <img class="imagen-app" src="assets/imagen/typescript.png" alt="">
              </div>
          </div>
          <br>
          <div class="habilidades2">
              <div class="habilidades15">
                  <h3>Python</h3>
              </div>
              <div class="habilidades16">
                  <img class="imagen-app" src="assets/imagen/python-logo.png" alt="">
              </div>
          </div>
      </div>
  </div>
  </div>

 