.home{
    display: inline-flex;
    width: 1200px;
    margin-top: 65px;
}
.home1{
    margin-top: 60px;
    margin-left: 30px;
    text-align: center;
    width: 20%;
    color: rgb(0, 0, 0);
    margin-right: 200px;
    font-weight: bold;
    /*background: rgba(81, 82, 81, 0.3);*/
}
.home2{
    margin-top: 30px;
    width: 80%;
    color: rgb(0, 0, 0);
    display: block;
}

.container{
    margin-top: 80px;
}
.card-title{
    font-weight: bold;
}
.modal-body{
    margin-left: 100px;
    margin-right: 100px;
}
.modal-title{
    font-weight: bold;
}
h3{
    font-weight: bold;
}

.imagen-1{
    border-radius: 2%;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    text-align: justify;
}
span{
    font-weight: bold;
}
.imagen-2{
    border-radius: 2%;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imagen-2-1{
    height: 400px;
    width: 400px;
    border-radius: 2%;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home3{
    margin-top: 30px;
    text-align: center;
}

.home4{
    margin-top: 30px;
    text-align: center;
}

.frase{
    font-style: oblique;
    font-weight: bold;
}

.linea {
    border-left: 3px solid black;
    height: 435px;
    position:absolute;
    left: 25%;
  }