<!--
<div class="home">
    <div class="home1">
        <h1>PAGINA WEB</h1>
        <h3>DE</h3>
        <h1>JUAN MORENO</h1>
    </div>
    <div class="home2">
        <h1>NOTICIAS</h1>
    </div>
    <div class="home3">
        FEED DE TWITTER
    </div>
</div>
-->

<!--
<div class="container">
    <div class="row">
      <div class="col-2" style="background-color: darkolivegreen;">
        <h1>PAGINA WEB</h1>
        <h3>DE</h3>
        <h1>JUAN MORENO</h1>
      </div>
      <div class="col-6" style="background-color: blue;">
        <h1>NOTICIAS</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-4">
        <a class="twitter-timeline" href="https://twitter.com/JuanNebraska?ref_src=twsrc%5Etfw">Tweets by JuanNebraska</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  -->

  <div class="home">
    <div class="home1">
      <h1>PAGINA WEB</h1>
        <h3>DE</h3>
        <h1>JUAN MORENO</h1>
        <img src="../../../assets/imagen/mi-logo.JPG" alt="">
    </div>
    <div class="home2">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/imagen/elon-musk-twitter-2022.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Elon Musk compra Twitter</h3>
              <p class="card-text">
                Es oficial, Elon Musk compra Twitter: 44.000 millones de dólares para un cambio de manos histórico
              </p>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                Mas información 
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/imagen/carro 420.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">A 417 km/h por una autobahn</h3>
              <p class="card-text">
                Un millonario ha circulado a 417 km/h por una autobahn y se ha ido sin multa. Alemania ya debate cambiarlo
              </p>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Mas información
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/imagen/nasa luna.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Apolo 11</h3>
              <p class="card-text">
                Cuando los astronautas del Apolo 11 pasaron tres semanas en un búnker de la NASA por miedo a los "bichos de la luna"
              </p>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                Mas información
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 1 -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel1">Elon Musk compra Twitter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>
          Es oficial, Elon Musk compra Twitter: 44.000 millones de dólares para un cambio de manos histórico.
        </h3>
        <p>
          Tres semanas. Ese es el tiempo que ha pasado desde que Elon Musk se gastara 2.900 millones de dólares para convertirse en el mayor accionista de su red social preferida. Hoy ya no es solo eso: hoy Elon Musk es ya dueño de Twitter.
        </p>
        <p>
          El multimillonario, CEO ya de Tesla y SpaceX, ha acordado la compra de una de las principales redes sociales por más de 44.000 millones de dólares. Tras las reticencias de la junta directiva de Twitter, cada accionista recibirá 54,20 dólares por cada acción ordinaria que posean al cierre de la transacción.
        </p>
        <p>
          Los acontecimientos han ido muy rápido, y desde aquel movimiento se han sucedido las noticias, movimientos y debates en torno a una posibilidad que ahora ha cristalizado. Comienza una nueva era en Twitter. Una que, si hacemos caso a los comentarios de Musk, será muy distinta a la actual.
        </p>
        <h3>
          Cronología de una adquisición
        </h3>
        <p>
          Elon Musk lleva años siendo uno de los usuarios más prolíficos de Twitter. Su enorme base de seguidores —83,3 millones en estos momentos— es una de las mayores de la red social, y hace tiempo que Musk utiliza Twitter de forma indiscriminada (y polémica).
        </p>
        <p>
          Su actividad ha sido frecuente, y entre sus mensajes siempre ha habido algunos dirigidos a Twitter como plataforma: para Musk parecía claro que Twitter tenía un gran potencial desaprovechado, pero ha sido ahora cuando ha decidido tratar de hacer algo para cambiar las cosas.
        </p>
        <p>
          Todos los acontecimientos se han precipitado en pocas semanas, y es bueno hacer un repaso de todo este proceso que ha acabado por llevar a Elon Musk a hacerse con Twitter:
        </p>
        <img class="imagen-1" src="../../../assets/imagen/noticias-1-img-1.JPG" alt="">
        <p>
          <span>28 de marzo.</span> Musk se quejaba de la falta de libertad de expresión en Twitter —la crítica no era nueva— y planteaba públicamente la posibilidad de crear una red social de código abierto. Afirmaba que estaba pensando seriamente en ello y empezaba el runrún.
        </p>
        <p>
          <span>4 de abril.</span> Elon Musk daba la sorpresa y se convirte en el mayor accionista de Twitter. El movimiento llega por sorpresa y curiosamente no publica nada de forma directa en la red social salvo por un 'Oh hi lol'.  ¿Qué quiere Elon?
        </p>
        <img class="imagen-1" src="../../../assets/imagen/noticias-1-img-2.JPG" alt="">
        <p>
          <span>5 de abril.</span> Su llegada detona el debate sobre qué puede cambiar en Twitter ahora que tiene esa participación en el accionariado. La empresa le ofrece formar parte de la junta de dirección, algo que comparte públicamente el CEO de la empresa, Parag Agrawal.
        </p>
        <p>
          Musk sigue sin hacer referencia a esa operación, pero sí aprovecha para preguntar a los usuarios si quieren un botón para editar tuits, pero en realidad se habla de otros cambios como los que afectarían a su modelo de suscripción o a la aceptación de pagos en dogecoin.
        </p>
        <p>
          <span>6 de abril.</span> El botón para editar tuits del que hablaba Musk en realidad ya está en desarrollo, aclaran desde Twitter, y pronto empiezan a filtrarse capturas de su funcionamiento.
        </p>
        <p>
          Paralelamente, el movimiento de Elon Musk genera todo tipo de incógnitas. Por si las moscas en Twitter se sacan un as de la manga: desvelan la "clásusula del 14,9%" que evita que cualquier accionista pueda tener más de ese porcentaje del accionariado. Musk, por cierto actuó de forma ilegal en la compra de las acciones de Twitter.
        </p>
        <img class="imagen-1" src="../../../assets/imagen/noticias-1-img-3.JPG" alt="">
        <p>
          <span>11 de abril.</span> Musk rechaza el puesto en el consejo de administración, pero no es él quien lo comenta —sigue guardando un insólito silencio sobre todos estos movimientos— sino Agrawal, que comparte una nota algo críptica que da pie a un debate. Uno que parece revelar que si no ha aceptado es por que quizás quiere bastante más que esa participación tope del 14,9%. Mientras, Musk —que sigue tuiteando— lanza indirectas.
        </p>
        <img class="imagen-1" src="../../../assets/imagen/noticias-1-img-4.JPG" alt="">
        <p>
          <span>14 de abril.</span> Boom. Musk se ofrece a comprar el 100% de Twitter por 43.000 millones de dólares, un 54% de lo que valían las acciones antes de que Musk anunciase su participación en la compañía como máximo accionista. Quiere "desbloquear su potencial".
        </p>
        <p>
          <span>16 de abril.</span> La oferta parece no ser del gusto del consejo de dirección de Twitter: la empresa se protege contra la OPA hostil con un mecanismo financiero conocido como "píldora venenosa". La idea: hacer que para Musk sea mucho más cara comprarla.
        </p>
        <p>
          <span>25 de abril.</span> Todo se había mantenido aparentemente tranquilo y no parecía que la oferta de Musk pudiera prosperar. Sin embargo Musk y Twitter se han reunido durante el pasado fin de semana y se hablaba de que la negociación estaba progresando. Estaba a un paso de hacerse con la red social, y ahora se ha confirmado que efectivamente es así.
        </p>
        <p>
          <span>Elon Musk ya es propietario de Twitter.</span> Como mencionamos arriba, la operación se ha acordado en 44.000 millones de dólares, por lo que cada accionista recibirá 54,20 dólares por cada acción ordinaria que posean al cierre de la transacción.
        </p>
        <p>
          Tras el acontecimiento, queda por ver si efectivamente el multimillonario puede "desbloquear todo el potencial" de la red social. Cabe señalar que en los últimos días, Elon Musk había hablado de los cambios que haría.
        </p>
        <p>
          Por un lado dijo que el algoritmo de la red social debía ser público para poder ser auditado, prometió "vencer" a los robots de spam, a los que ha acusado de ser el problema más molesto de Twitter, También habló de "verificar a todos los humanos" y, cabe recordar, que desde hace tiempo se ha mostrado a favor de un botón de edición de tweets, una idea que sus seguidores apoyaron abrumadoramente en una encuesta.
        </p>
        <p>
          En este sentido, en declaraciones posteriores al anuncio de compra, Elon Musk volvió a referirse a varios de los puntos mencionados anteriormente y señaló que "Twitter es la plaza pública digital donde se debaten asuntos vitales para el futuro de la humanidad”.
        </p>
        <img class="imagen-1" src="../../../assets/imagen/noticias-1-img-5.JPG" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel2">A 417 km/h por una autobahn</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>
          Un millonario ha circulado a 417 km/h por una autobahn y se ha ido sin multa. Alemania ya debate cambiarlo.
        </h3>
        <p>
          Alemania tiene dos de las mecas europeas de los aficionados al motor. Una es el Infierno Verde, el mítico trazado de más de 20 kilómetros que llevan Nürburgring Nordschleife de nombre. La segunda son las Autobahn, las autopistas alemanas donde no existe límite de velocidad. ¿Seguro?
        </p>
        <p>
          <span>A 417 km/h.</span> Esa es la velocidad punta que alcanzó el pasado mes de julio de 2021 Radim Passer, un millonario checo, a bordo de su Bugatti Chiron. La mareante cifra la consiguió en una Autobahn alemana y se supo de ello porque, al igual que con muchos otros automóviles, Passer subió el vídeo a Youtube.
        </p>
        <p>
          El millonario cuenta con un canal, con más de 22.000 suiscriptores, donde prueba multitud de vehículos y muestra el manejo de los mismos. Pero entre sus vídeos más celebrados está el vídeo de la polémica. Con más de 11 millones de visualizaciones, Passer saltó al debate público.
        </p>
        <p>
          <span>Have a nice day.</span> Para mayor enfado de sus detractores, al final del vídeo se desplegaba el alerón del Bugatti y, grabado en una toma trasera, podía leerse esta inscripción. Para algunos, la imagen fue toda una ofensa y un motivo más para señalar la irresponsabilidad de Passer, que había circulado con tráfico abierto por encima de los 400 km/h.
        </p>
        <p>
          <span>Máxima seguridad.</span> El vídeo no tardó en hacerse viral y el Gobierno alemán tampoco tardó en tomar posición. En un comunicado destacó que todo conductor "debe comportarse de manera que ninguna otra persona resulte dañada, puesta en peligro, obstruida o molestada más de lo que es inevitable dadas las circunstancias". Y recalcó que la justicia estudiaría si se había cometido alguna infracción.
        </p>
        <p>
          Passer, sin embargo, ya se ponía la venda antes de la herida. En la descripción del vídeo señalaba que la grabación se había realizado a primera hora de la mañana, con las primeras horas de sol, para contar con luz y, al mismo tiempo, el mínimo tráfico posible. El tramo de carretera no cuenta con limitación máxima de velocidad y sí con tres carriles, una larga recta de 10 kilómetros y una pequeña bajada que garantizaba una amplia visibilidad en cualquier momento.
        </p>
        <p>
          <span>Sin castigo.</span> Ahora hemos sabido que la justicia alemana da el caso por cerrado sin haber presentado ningún tipo de cargo contra el millonario. ABC recoge que la fiscalía ha desestimado posibles acciones al considerar que en ningún momento se cometió una irregularidad, pues no se puso en peligro al resto de conductores.
        </p>
        <p>
          <span>La excepción.</span> Las Autobahn alemanas son la gran excepción europea. Aunque no todas, una gran parte de las mismas carecen de límite de velocidad. De hecho, Alemania tiene unos 13.000 kilómetros bajo la denominación de Autobahn, de los cuales el 40% aproximadamente tienen un límite de velocidad de 130 km/h. Es decir, unos 5.200 kilómetros carecen de él.
        </p>
        <p>
          Estas grandes vías sin límite de velocidad son espacios donde se considera que la seguridad está garantizada, están alejados de los grandes núcleos urbanos y cuentan con unas reglas que los alemanes se toman muy en serio. Los espacios sin límite de velocidad están señalizados a su entrada y salida pero hay señales dinámicas que restringen la velocidad a un máximo de entre 80 km/h y 130 km/h cuando llueve, el tráfico es denso o se ha hecho de noche.
        </p>
        <p>
          <span>El comportamiento.</span> Para que no exista un límite máximo de velocidad en una Autobahn es imprescindible que los conductores cumplan las normas a rajatabla. Adelantar por la derecha está prohibido y conlleva grandes multas. Sólo se puede circular por la izquierda si eres el vehículo más rápido y, si otro automóvil es más rápido, es obligatorio retirarse y darle paso.
        </p>
        <p>
          <span>A debate.</span> Sin embargo, esto podría cambiar en un futuro. Olaf Scholz, canciller alemán, llevaba en su programa la limitación de todas las vías rápidas a un máximo de 130 km/h. Su principal argumento es que con esta limitación se reducirán los accidentes en las carreteras y, además, se protegerá el medio ambiente, con una reducción en las emisiones contaminantes.
        </p>
        <p>
          Desde entonces, las voces a favor y en contra se han sucedido. Una encuesta de ADAC, una de las asociaciones de conductores más importantes de Alemania, recogió que el 45% de los participantes se mostraban contrarios a la prohibición, el 50% sí lo ven con buenos ojos. Y el 5% restante lo formarían los indecisos. La pregunta es recurrente y la limitación de la velocidad no ganaba en la encuesta desde 1993.
        </p>
        <p>
          <span>Sin relevancia.</span> Por el contrario, quienes aseguran que la limitación de velocidad no es necesaria señalan que esta nueva norma no es necesaria, pues la mayor parte de los conductores ya se mueve en las velocidades contempladas. Un estudio del Instituto de Economía Alemán (IW) en Colonia señala que sólo el 2% de los conductores de una Autobahn circula por encima de los 160 km/h. Y el 77% de los mismos lo hace por debajo de los 130 km/h.
        </p>
        <p>
          Quienes son partidarios de esta opción inciden, por tanto, en que el resultado medioambiental sería muy limitado. De hecho, la Agencia Federal del Clima alemana cifra en dos millones de toneladas de CO2 lo que el país podría ahorrarse cada año. En Alemania, sin embargo, en 2020 se contabilizaron 65,325 megatoneladas de CO2. La limitación, por tanto, tendría un ahorro del 0,003% en las emisiones totales.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel3">Apolo 11</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>
          Cuando los astronautas del Apolo 11 pasaron tres semanas en un búnker de la NASA por miedo a los "bichos de la luna".
        </h3>
        <p>
          Por mucho que te gusten la historia de la NASA y los pioneros espaciales del siglo XX es probable que el nombre de Terry Slezak te diga más bien poco. Normal. Slezak no era astronauta, ni científico, ni político. Su tarea consistía en estar en el lugar adecuado en el momento adecuado, tomar buenas instantáneas y encargarse de las imágenes de la NASA. Su rol: fotógrafo.
        </p>
        <p>
          Y sin embargo Slezak protagonizó uno de los episodios más curiosos de la crónica espacial. No tanto por su trabajo, que también, como por la metedura de pata que cometió hacia el verano de 1969 mientras trasteaba con el material que habían traído de la Luna los tripulantes de Apolo 11.
        </p>
        <p>
          Eso, y el susto consecuente.
        </p>
        <h3>
          Cuidado con el polvo lunar
        </h3>
        <p>
          Durante su visita a la Luna Neil Armstrong y Buzz Aldrin se dedicaron a tomar fotos y grabaciones de todo, acumulando carretes que luego etiquetaban, guardaban y almacenaban para su estudio en las oficinas de la NASA. A pesar del cuidado que pusieron en su tarea, sin embargo, uno de aquellos cartuchos acabó estampándose contra la superficie del satélite y embadurnándose de polvo.
        </p>
        <p>
          Polvo lunar, claro.
        </p>
        <p>
          El suceso no tuvo mayor importancia. Los astronautas recogieron el cartucho polvoriento, lo archivaron junto al resto de carretes y añadieron una nota —escrita a mano por el propio Aldrin— en la que advertían a quienes fuesen a estudiar el material en las instalaciones de la NASA que aquella pieza en concreto estaba contaminada y debía tratarse con una cautela especial; pero...
        </p>
        <p>
          …Pero Slezak, uno de los técnicos que asumieron el encargo de manejar el archivo gráfico del Apolo 11, no la vio y acabó con varios dedos tiznados de unas motas negras como el carbón. Medio siglo después puede parecer una tontería que no llega ni a la categoría de anécdota de sobremesa. En 1969 las cosas eran distintas y aquello activó las alertas de la agencia espacial.
        </p>
        <img class="imagen-2" src="../../../assets/imagen/noticias-2-img-1.jpg" alt="">
        <p>
          Cuando en la NASA se dieron cuenta de lo que había ocurrido Slezak tuvo que quedarse solo en la sala de trabajo que compartía con el resto de sus colegas, le tomaron fotos, se desvistió, limpió a conciencia la zona con lejía y se sometió a un proceso de descontaminación.
        </p>
        <p>
          Entre el accidente y el miedo a que el polvo arañase la película —lo que realmente le preocupaba, aseguraría más tarde Slezak— el bueno del fotógrafo estuvo cerca de 24 horas sin dormir.
        </p>
        <p>
          ¿Todo por unas motas de polvo?
        </p>
        <p>
          Todo por unas motas de polvo.
        </p>
        <p>
          La “factura” que tuvo que pagar Slezak no es nada sin embargo si se compara con la de los propios Armstrong, Aldrin y su compañero en el Apolo 11, Michael Collins. Al regresar a Tierra después de su misión los tres tuvieron que enfundarse una escafandra aislante —la conocida como BIG (Biological Isolation Garments)—, desinfectarse a conciencia y someterse a una cuarentena de tres semanas durante la que pasaron controles médicos y se miró con lupa lo que habían traído de la Luna.
        </p>
        <p>
          Ni por el cumpleaños de Armstrong hicieron la vista gorda. El primer hombre en pisar la Luna era una leyenda, un mito en vida; pero tuvo que soplar las 39 velas en rigurosa cuarentena.
        </p>
        <p>
          ¿Por qué? Pues por la misma razón que el traspiés de Slezak con el polvo lunar activaría los protocolos de seguridad de la NASA, una razón de peso: el miedo a que el equipo y la tripulación del Apolo 11 hubiesen regresado con microrganismos extraños o patógenos capaces de amenazar la seguridad de la Tierra. Como llegaría a decir Aldrin tirando de ironía, los científicos querían confirmar que no habían vuelto a casa de su aventura selénica cargados de “bichos de la Luna”.
        </p>
        <img class="imagen-2-1" src="../../../assets/imagen/noticias-2-img-2.jpg" alt="">
        <p>
          Con Apolo 11 la humanidad interactuaba por primera vez de forma directa e intencionada con la superficie de otro objeto del universo y eso —pensaba la NASA— bien merecía reforzar al máximo la seguridad. El debate sobre cómo debíamos actuar al regresar de la Luna y manejar el material que nos trajéramos se remontaba ya a 1963, con la Interagency Committee on Back Contamination, y para cuando en julio de 1969 el módulo de mando Columbia del Apolo 11 amerizó en las aguas de Hawái estaba ya lo suficientemente pulido como para aplicarse con precisión militar.
        </p>
        <p>
          Cuando el equipo de rescate de EEUU sacó a los tres astronautas de la cápsula Columbia, en el Pacífico, les entregó un traje especial de aislamiento biológico (BIG), los desinfectó y después de un breve viaje en helicóptero acabó confinándolos en un módulo móvil de cuarentena (MQF) junto a un médico y un ingeniero. Desde allí dentro, igual que tres presos recluidos en un calabozo plateado con el emblema de la Casa Blanca y cierre hermético, se entrevistaron con Richard Nixon.
        </p>
        <p>
          Aquel peculiar módulo, un remolque de aluminio provisto de generador, baterías y un sistema de aire acondicionado que evitaba cualquier riesgo de contagio, sirvió al equipo como “hogar” provisional.
        </p>
        <p>
          El espacio en el que pasaron la mayor parte de su cuarentena fue el Laboratorio de Recepción Lunar de la NASA, en el Centro Espacial Johnson de Vuelos Tripulados, un búnker de 7.700 m2 sellado al milímetro para garantizar que si Aldrin, Armstrong o Collins portaban algún germen lunar no pudiese extenderse por el planeta. Allí se sometieron al escrutinio médico. Y allí se vio obligado Armstrong a soplar las velas de su 39 cumpleaños en una tarta cocinada por el personal del centro.
        </p>
        <p>
          Para tranquilidad de la NASA, las pruebas confirmaron que no había riesgo alguno. Ni en los tres astronautas, ni en las muestras que habían traído del satélite y la agencia había manejado con una cautela similar. “Pasamos 21 jornadas en cuarentena al regresar de la Luna. ¡La NASA necesitaba asegurarse de que la Tierra estaba a salvo de posibles gérmenes lunares! Por fortuna, no teníamos ‘bichos’ de la Luna: ¡Sólo se detectó un caso de aburrimiento!”, bromearía tiempo después Aldrin.
        </p>
        <p>
          Aunque la experiencia del Apolo 11 ayudó a pulir algunos detalles del sistema de —una de las cosas que se mejoró fue la engorrosa escafandra BIG—, Armstrong y sus compañeros no fueron los únicos en someterse a una fase de aislamiento tras regresar a Tierra. Como recuerda CNN, la NASA siguió un protocolo similar con Apolo 12 y 14; en las misiones 15, 16 y 17 simplificó el proceso para centrarlo en un chequeo médico. A día de hoy tampoco se prevé para el programa Artemis.
        </p>
        <img class="imagen-2-1" src="../../../assets/imagen/noticias-2-img-3.jpg" alt="">
        <p>
          La cuestión es… ¿Temían realmente los científicos de la agencia estadounidense que los astronautas trajesen consigo gérmenes de la Luna? En su libro ¿Estamos solos? Carlos Briones recuerda cómo en el Outer Space Treaty, firmado en la ONU en 1967, varios años antes de Apolo 11, se preveía que los estados hiciesen lo necesario para "evitar la contaminación peligrosa y cambios adversos en el medio ambiente como resultado de la introducción de materia extraterrestre".
        </p>
        <p>
          La prensa más sensacionalista de los años 60 dio alas a aquella cautela y azuzó el miedo con titulares rocambolescos como El regreso de la Luna, problema bacteriológico o ¿Qué nos traerán los viajeros de la Luna?, un tono apocalíptico que caló en parte de la sociedad. Entre la comunidad científica, la visión del problema era distinta: "En realidad estaba poco preocupada sobre el posible riesgo asociado a los microorganismos selenitas, dados todos los datos previos que indicaban la muy baja probabilidad de que hubiera vida en nuestro satélite", explica Briones en su ensayo.
        </p>
        <p>
          Las escasas probabilidades no impidieron sin embargo que el equipo del Apolo 11 tuviese que pasar sus primeras semanas de gloria encerrado y bajo supervisión, que Armstrong soplase las 39 velas encerrado y a Slezak se le complicase la jornada de mala manera por un poco de polvo lunar.
        </p>
        <p>
          Ironías de la historia, hoy a los científicos les preocupa otro riesgo bien distinto: que seamos los humanos los que contaminemos otros lugares del universo durante nuestras exploraciones.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
