/* You can add global styles to this file, and also import other style files */
/* Diseño para celulares */
html, body { height: auto; }
body { margin: 0; font-family: sans-serif }

/* Diseño para tabletas */ 
@media screen and (min-width: 800px) {
    html, body { height: auto; }
    body { margin: 0; font-family: sans-serif }
}
